#results_main-container {
  font-family: Roboto, -apple-system, sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  background-color: #262933;
  border: 1px solid #343d4a;
  width: 78%;
  min-width: 700px;
  max-width: 95%;
  height: fit-content;
  min-height: 30px;
  max-height: 600px;
  resize: both;
  top: 16%;
  left: 1%;
  overflow: auto;
}

#results_container-header {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  align-items: center;
  display: flex;
  padding: 1px 3px;
  margin-bottom: 3px;
  z-index: 200;
}

#drag_handle {
  font-size: 40%;
  box-sizing: border-box;
  min-width: 2%;
  width: 2%;
  height: 100%;
  z-index: 200;
  margin-right: 5px;
}

#drag_handle div {
  box-sizing: border-box;
  letter-spacing: 4px;
  padding-left: 1px;
  cursor: move;
  color: #fff;
  text-align: center;
}

#status_bar {
  box-sizing: border-box;
  width: 56%;
  font-size: 60%;
  margin-right: 5px;
}

#status_bar p {
  box-sizing: border-box;
  text-align: left;
  color: yellow;
}

#status_count {
  box-sizing: border-box;
  width: 30%;
  font-size: 60%;
  text-align: right;
  margin-right: 5px;
}


#download {
  box-sizing: border-box;
  width: 10%;
  font-size: 60%;
  text-align: center;
  margin-right: 5px;
}

#download_link {
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  cursor: pointer;
}

#download_link:hover {
  border-bottom: 1px solid #fff;
}

#close {
  font-size: 90%;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 2%;
  width: 2%;
  height: 100%;

}

#close span {
  float: right;
  box-sizing: border-box;
  color: red;
  min-width: 70%;
  width: 70%;
  text-align: center;
  padding-bottom: 2px;
}

#close span:hover {
  color: white;
}


#results_container {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

#results_table {
  box-sizing: border-box;
  width: 100%;
  margin: auto; 
}

.column_name {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #343d4a;
  border-bottom: 1px solid #343d4a;
}

.column_name th {
  box-sizing: border-box;
  padding: 5px 0;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.results {
  box-sizing: border-box;
  width: 100%;  
}

.results td {
  box-sizing: border-box;
  padding: 3px 10px;
  font-size: 9px;
  text-align: left;
}

.valid {
  color: white;
}

.broken {
  color: red;
}

.valid_redirect {
  color: skyblue;
}

.unsure_redirect {
  color: gold;
}

.warning {
  color: #F08080;
}

.label {
  color: white;
}
